node_modules
node_modules/*
npm-debug.log
scrap.js
app.js
index.html
.gitignore
renderPixi.js
package-lock.json
fabricrender.js
fabric.min.js
pixi.min.js
Avoid.js
index2.html
kala.html
.tern-project
.prettierrc.json
graph.svg
POLYSCARP.js
.DS_Store
